<body class="login-page" style="min-height: 423.672px;">
  <div class="login-box">
    <div class="login-logo"><%= image_tag 'logo.png', width: "100px" %></div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">ログイン</p>
          <%= form_with(url: login_path, scope::session, local:true) do |form| %>
            <div class="input-group mb-3"><%= form.text_field :email, class:"form-control", required: true, placeholder: "メールアドレス" %></div>
            <div class="input-group mb-3"><%= form.password_field :password, class: "form-control", required: true, placeholder: "パスワード" %></div>
            <div class="row">
              <div class="col-12"><%= form.submit "ログイン", class: "btn btn-primary btn-block disabled" %></div>
            </div>
          <% end %>
          <div class="social-auth-links text-center mb-3">
            <hr>
          </div>
          <p class="mb-1"><a href="/password/new">パスワードを忘れた場合はこちら</a></p>
          <p class="mb-1"><a href="/signup">新規会員登録はこちら</a></p>
        </div>
      </div>
  </div>
</body>
