<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>会員登録申請がありました。</p>
    <p>Eメール: <%= @email %></p>
    <p>名前: <%= @name %></p>
    <p>勤務先名: <%= @company_name %></p>
    <p>電話番号: <%= "#{@phone_number1}-#{@phone_number2}-#{@phone_number3}" %></p>
    <p>パスワード: <%= @content %></p>
    <p>パスワード（確認用）: <%= @content %></p>
  </body>
</html>